<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="../static/css/XenonStack.css">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


    <!-- favicon -->

    <link rel="icon" type="image/png" sizes="192x192" href="../static/imgs/favicon.ico">
    <title>Chase Car</title>
</head>

<body>
    <section>
        <!-- navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="padding-top:0; ">
            <div class="container-fluid">
                <a id="logo" class="navbar-brand " href="#"> <img class="brandimage" src="../static/imgs/favicon.ico"
                        alt="">
                </a>
                <a class="navbar-brand  me-auto" href="#">Chase Car</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#japlenonavbar"
                    aria-controls="japlenonavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="japlenonavbar">


                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/home">HOME</a>
                        </li>




                        <li class="nav-item ">
                            <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                    </ul>
                    <a class="nav-link" href="/"><button class="btn btn-outline-light" type="submit">Login</button></a>
                </div>
            </div>
        </nav>


    </section>


    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="../static/imgs/login2.webp" class="logini2 img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action="/user/userlogin" method="post">

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input name="username" type="email" id="form3Example3" class="form-control form-control-lg"
                                placeholder="Enter a valid email address" />
                            <label class="form-label" for="form3Example3">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input name="password" type="password" id="form3Example4" class="form-control form-control-lg"
                                placeholder="Enter password" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                    class="link-danger">Register</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>



    <section>
        <div class="row justify-content-evenly footer_links">
            <div class="col-lg-6 col-md-6 col-sm-8 col-10  ">

                <p class="copyright">XenonStack © 2022 All Rights Reserved</p>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-10 text-center">
                <a class="icon" href="https://www.facebook.com/XenonStack/"><i
                        class=" social-icon fab fa-facebook-f"></i></a>
                <a class="icon" href="https://twitter.com/xenonstack"><i class="social-icon fab fa-twitter"></i></a>
                <a class="icon" href="https://www.linkedin.com/uas/login-submit"><i
                        class="social-icon fab fa-linkedin-in"></i></a>
                <a class="icon" href="https://www.instagram.com/teamxenonstack/?hl=en"><i
                        class="social-icon fab fa-instagram"></i></a>
            </div>
        </div>

    </section>
</body>

</html>